/* Resets some default Broweser Style*/
body,h1,h2,p, ul {
    margin: 0;
    padding: 0;
}
/* Body Styling */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
/* HEader Styling change background color when you have time*/
header{
    background-color: #0077b5;
    color: white;
    padding: 20px;
    text-align: center;
}
#splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #384038;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 9999;
    transition: opacity 1s ease;
    cursor: pointer;

}
#splash.hiden {
    opacity: 0;
    pointer-events: none;
}
/* navigation menu this affecting the onyx bar */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a :hover{
    text-decoration: underline;
}
/* Main sections */
main {
  margin: 40px 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* section styling */
section{
    margin: 40px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*footer styling*/
footer{
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}
